@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@100&display=swap');
*{
  text-align: center;
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-weight: bolder;
  font-size: large;
}
.main1{
  /* background-color: black; */
}
.nav-section{
  background-color: #253272;
  border-radius: 0;
  /* align-items: center; */
  /* justify-content: space-between; */
}
.nav-container{
  width:fit-content;
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  padding-left:30px;
  padding-right:30px;
}
.me-auto{
  font-size: x-large;
  display: block;
  font-weight: 900; 
}
#basic-navbar-nav{
  padding: 15px;
  margin-left: 200px;
}
.card{
  width: 289px;
  height: 10px;
  padding: 10px;
  margin: 15px;
  float: left;
}
.log{
  width: 90%;
}
.g-0{
  background-color: #7859c7;
}
.nav{
  margin-right: 70px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.image-container{
  width: 200px;
  margin: 1rem auto;
}
.inner-image-container{
  display: grid;
  justify-content: center;
  margin-left: 15px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
.Card-img-top{
    width: 300px;
    border-radius: 20px;
    max-height: 450px;
    margin-bottom: 20px;
    display: flex;
}
.Card-img-top1{
  width: 100%;
}
.container3{
  background-image: url("./Assets/image3.jpg");

}
.comment-container{
  background-color: #7859c7;
}
#fname{
background-color: rgb(255, 255, 255);
border-radius: 10px;
border:none;
height:40px;
width: 50%;
margin-bottom: 10px;
}
#lname{
  border-radius: 10px;
  border:none;
  width: 50%;
  height: 200px;
  background-color: rgb(255, 255, 255);

}
.com{
  font-size: larger;
  font-weight: 900;
  color: rgb(0, 0, 0);
}
.com1{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
 

}

#btn{
  margin-top: 10px;
  width: 50%;
  background-color: blue;
  border:none;
  border-radius: 10px;
  height:35px;
  color: white;
  font-weight: 900;
}
.comment{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: larger;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.fun{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.search{
  background-color: rgb(174, 168, 190);
  border-radius: 25px;
  border: none;
  margin-top: 10px;
  height: 35px;
  width: 50%;
}